src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5386908-329c-4f16-b1b3-be57ea7a0631" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="8239319c-06ac-403b-ab4b-b6b0fc69eb25" >
		<http:listener doc:name="Listener" doc:id="076ec15d-df0c-406b-b2d7-5a894238bc28" config-ref="HTTP_Listener_config" path="/hello"/>
		<choice doc:name="Choice" doc:id="98db9edc-52b4-4ba7-9c69-089ba59224ce" >
			<when expression='#[attributes.queryParams.name matches("[a-zA-Z]+")]'>
				<ee:transform doc:name="Hello name" doc:id="ed1807ee-793b-4979-9448-10f86c1ac898" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var name = attributes.queryParams.name as String
var time = now().hour
fun greeting(time) = 
    if (time < 12 and time > 5) "Good Morning!"
    else if (time >= 12 and time < 17) "Good Afternoon!"
    else "Good Evening!"
---
{
	//message: "Hello " ++ name ++ "!"  
	message: "Hello $(name)! $(greeting(time))"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="e9375fed-5f3b-4b7c-b446-10fa8cda885f" message='"Executed expression"'/>
			</when>
			<otherwise >
				<ee:transform doc:name="Hello world" doc:id="dc574a8e-6354-4c36-a530-8379e44a6d40">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Hello World!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="975de5b4-7e81-42d1-a857-fd2caec279bf" message='"Executed default"'/>
			</otherwise>
		</choice>
	</flow>
</mule>
